{% extends "layout.html" %}

{%block content%}
Homepage: main page
<div class ="ui input">
    <input type = "text" placeholder = "Search Stock.."></inut>
</div>

<div class ="ui input">
    <input type = "text" placeholder = "Search P/E.."></inut>
    </div>

<div class ="ui input">
        <input type = "text" placeholder = "Search Dividend.."></input>
        </div>
<button class = "ui checkbox">
    <input type = "checkbox" name = "Dividend>20"></input>
    <label> above 200 day MA</label>
</button>

<button classs = "ui botton">Filter</button>

<table class="ui celled table">
    <thead>
      <tr>
      <th>Stock Symbol</th>
      <th>P/E</th>
      <th>Dividend Yield</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td data-label="Stock Symbol">TSL</td>
        <td data-label="P/E">24</td>
        <td data-label="Dividend Yield">43</td>
      </tr>
      <tr>
        <td data-label="Stock Symbol">ADA</td>
        <td data-label="P/E">24</td>
        <td data-label="Dividend Yield">43</td>
      </tr>

    </tbody>
  </table>
{% endblock %}